<?xml version="1.0" encoding="UTF-8"?>
<!-- 配置 DTD -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<mapper namespace ="A.B">
    <select id = "selectAll" resultType = "com.gjxaiou.pojo.People">
        select * from people
    </select>

</mapper>