<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!-- 配置 SpringMVC-->
    <!-- 1.开启SpringMVC注解模式 -->
    <!-- 简化配置： (1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter
        (2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持 -->
    <mvc:annotation-driven />

    <!-- 2.静态资源默认servlet配置 (1)加入对静态资源的处理：js,gif,png (2)允许使用"/"做整体映射 -->
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:default-servlet-handler />

    <!-- 3.定义视图解析器 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/"></property>
        <property name="suffix" value=".html"></property>
    </bean>
    <!-- 文件上传解析器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSize" value="10485760000"></property><!-- 最大上传文件大小 -->
        <property name="maxInMemorySize" value="10960"></property>
    </bean>


    <!-- 4.扫描web相关的bean ，这里配置只扫描 @Controller 注解，其它注解扫描由 spring 中的 spring-->
    <context:component-scan base-package="com.gjxaiou.web"
                            use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 5.权限拦截器 -->
    <mvc:interceptors>
        <!-- 校验是否已登录了店家管理系统的拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/shopAdmin/**"/>
            <bean id="ShopLoginInterceptor"
                  class="com.gjxaiou.interceptor.shopAdmin.ShopLoginInterceptor" />
        </mvc:interceptor>
        <!-- 校验是否对该店铺有操作权限的拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/shopAdmin/shopOperation"/>
            <mvc:mapping path="/shopAdmin/productManagement"/>
            <mvc:mapping path="/shopAdmin/productCategoryManagement"/>
            <bean id="ShopPermissionInterceptor"
                  class="com.gjxaiou.interceptor.shopAdmin.ShopPermissionInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
</beans>