<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting  name="logImpl"  value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="com.gjxaiou.pojo.Flower"/>
    </typeAliases>

    <!-- default引用environment的id,当前所使用的环境 -->
    <environments default="default">
        <!-- 声明可以使用的环境 -->
        <environment id="default">
            <!-- 使用原生JDBC事务 -->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
                <property name="username" value="root"/>
                <property name="password" value="GJXAIOU"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.gjxaiou.mapper"/>
    </mappers>


</configuration>

