<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--    扫描注解-->
    <context:component-scan base-package="com.gjxaiou.controller"></context:component-scan>

<!--    注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>

<!--    拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/demo1"/>
            <mvc:mapping path="/demo2"/>
            <bean class="com.gjxaiou.interceptor.InterceptorDemo"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>