<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName">
    <!--默认值或者设置为 singleton 都表示产生的对象是单例的-->
<!--    <bean id="people" scope="singleton" class="com.gjxaiou.pojo.People"></bean>-->
    <!--prototype 表示多例模式-->
    <bean id="people" scope="prototype" class="com.gjxaiou.pojo.People"></bean>

    <bean id="springLifeCycle" init-method="init" destroy-method="destroy"
          class="com.gjxaiou.pojo.SpringLifeCycle"></bean>


</beans>