<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <display-name>taotao-manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>


<!--  =========================== 配置 spring 容器 =============================-->

  <!--1.上下文参数，配置 spring 配置文件的位置，相当于告诉 Tomcat 启动时候加载 Spring 配置文件路径-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <!-- spring 配置文件目录，这里因为是将 spring 配置文件拆分为多个，因此使用了通配符-->
    <param-value>classpath:spring/applicationContext-*.xml</param-value>
  </context-param>

  <!--2.配置监听器：因为内部封装了一个监听器，用于帮助加载 spring 配置文件-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--=============================== 配置 springmvc 容器===============================-->

  <!--1.配置springmvc 的前端控制器 -->
  <servlet>
    <servlet-name>taotao-manager</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!--2.配置 springmvc 配置文件的位置-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--3.配置拦截器-->
  <servlet-mapping>
    <servlet-name>taotao-manager</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- 4.配置字符编码过滤器：解决 post 请求乱码 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
