<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCInterceptor:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCInterceptor_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCInterceptor" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-aop-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-aspects-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-beans-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-context-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-context-indexer-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-context-support-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-core-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-expression-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-instrument-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-jcl-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-jdbc-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-jms-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-messaging-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-orm-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-oxm-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-test-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-tx-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-web-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-webflux-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-webmvc-5.1.9.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../../JARs/spring-framework-5.1.9.RELEASE/libs/spring-websocket-5.1.9.RELEASE.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVCInterceptor/web/Web" />
    </root>
  </artifact>
</component>