<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>filter.demo.EncodingFilter</filter-class>
        <!-- 这里将需要制定的字符集编码当做初始化参数传入过滤器 ，在过滤器的init方法中读取-->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
        <!-- 一个filter可以对应多个 filter-mapping,多个 url-pattern直接是并集的关系，满足其中任意一个即可  -->
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/main/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/hello/*</url-pattern>
    </filter-mapping>

</web-app>