<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "peo" class = "com.gjxaiou.pojo.People">

    </bean>
    <bean id = "peopleFactory" class="com.gjxaiou.factory.PeopleFactory"></bean>
    <bean id = "people" factory-bean="peopleFactory" factory-method="newInstance"></bean>

    <bean id="staticPeople" class="com.gjxaiou.factory.StaticPeopleFactory" factory-method="newInstance"></bean>


</beans>